.wrapper{
    padding-left: 10%;
    padding-right: 10%;

}
@media(max-width:800px){
    .wrapper{
        text-align: center;
    }
}

.titulo{
    color:var(--white);
    font-size: 2.5rem;

}


.formLabel{
    color: white;

}


.inputCat{
display: inline-block;
outline: 0;
text-decoration: none;
width: 100%;
box-sizing: border-box;
border-radius: 2px;
border: 1px solid #555;
background: rgba(48,47,45,.9);
padding: 6px 15px;
font-size: 17px;
margin: 7px auto;
color: #ccc;
height: auto;
line-height: normal;
border-bottom: 2px solid var(--blue);
}
.inputCat:focus{
    border-bottom: 2px solid var(--primary);
}

.btnSend{
    margin-top: 5px;
    width: 100%;
    background-color: transparent;

}

.linkPage{
    background-color: var(--primary);
    font-weight: bold;
    line-height: 5rem;
    text-decoration: none;
    transition: .3s;
    padding: 1rem;
    
 }
 
 .linkPage:hover,.linkPage:active{
    background-color: transparent;
    border: var(--primary) 1px solid;
  
  }

.titulo{
    color:var(--white);
    font-size: 2.5rem;

}
@media(max-width:800px){
    .titulo{
  
        font-size: 2.0rem;
    
    }  
}