* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }
  
  :root {
    --primary: #e43f5a;
    --dark: #1b1b2f;
    --darkT: #1b1b2fd2;
    --blue: #1f4068;
    --darkBlue:#162447;
    --white:#eeeeee;
  }
  
  html,
  body {
  
    margin: 0;
    padding: 0;
  }
  
  a {
    color: inherit;
  } 

  #root{
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - var(--bodyPaddingTop));

  }